/*------------------------------------*\ #BASE
\*------------------------------------*/
/** Body */
body { background: #f1f1f1; color: #222; font: 120%/1.4 "niveau-grotesk", "HelveticaNeue", "Helvetica", "Arial", sans-serif; padding: 0; -webkit-text-size-adjust: 100%; overflow-x: hidden; }

/** Links */
a { color: #808080; text-decoration: none; transition: all 0.2s ease; /** Image Within Links */ }
a img { border: 0; outline: 0; }
a:hover, a:focus { color: #222; }

/** Paragraph */
p { margin: 0 0 1em; }

/** Img/Object/Video Responsive */
img, object, video { max-width: 100%; height: auto; border: 0; }

/** Video */
video { display: block; width: 100%; max-width: 75em; margin: 0 auto; }

/** Heading 1 */
h1 { font-size: 2.3em; line-height: 1; letter-spacing: -0.02em; margin: 0 0 0.2em; }
@media all and (min-width: 34em) { h1 { font-size: 2.5em; } }

/** Heading 2 */
h2 { line-height: 1.1; font-size: 1.5em; margin: 1.2em 0 0.6em 0; }
@media all and (min-width: 34em) { h2 { font-size: 2em; } }

/** Heading 3 */
h3 { font-size: 1.3em; line-height: 1.1; margin: 0 0 0.2em; }

/** Heading 4 */
h4 { font-size: 1em; margin: 0.5em 0; }

/** Links within h2/h3 */
h2 a, h3 a { color: #222; }
h2 a:hover, h3 a:hover { color: #808080; }

/** Horizontal Rule */
hr { display: block; height: 40px; background: #f1f1f1; margin: 0; }

/** Blockquote */
blockquote { font-size: 1.3rem; font-style: italic; margin-left: 0; }
blockquote p { margin-bottom: 0; }

/** Small Text */
small { font-style: italic; color: rgba(0, 0, 0, 0.8); }

/** Input */
input[type=search] { -webkit-appearance: none; border-radius: 0; }

/** Input Placeholder Text */
::-webkit-input-placeholder { color: #808080; }

:-moz-placeholder { color: #808080; }

/** Code Block */
code { background: rgba(0, 0, 0, 0.05); padding: 0.3em; }

/** Preformatted Text */
pre { background: #222; color: #fff; padding: 1rem; white-space: pre; overflow: auto; }