//===========================================================
// Callout
//===========================================================

.callout {
  background: $primary;
  height: 15vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    font-size: 9vw;
    font-weight: 600;
  }

  @include respond-to('small') {
    h1 {
      font-size: 2em;
    }
  }
}
