//===========================================================
// Header module
//===========================================================

.banner {
  display: flex;
  background: $primary;
  position: relative;
  align-items: center;
  height: 30vh;
}

.banner--feature {
  flex-direction: column;
  height: auto;
  .logo {
    flex: 0 1 auto;
    padding: 2rem;
  }
  .phone {
    color: white;
    padding: 0.5rem;
    &:before {
      content: "X"
    }
  }
}

.main-nav {
  width: 100%;
}

.btn {
  position: relative;
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: all 0.2s ease;
}

.main-nav .btn {
  display: block;
  margin: 0;
}