doctype
html
  head
    script(src='https://use.typekit.net/eky1vuj.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}
    link(rel="stylesheet" href="/main.css")
  body
    != yield