section.banner.banner--feature
  img.logo(src="assets/logo.png")
  span.phone #{phone}
  nav.main-nav
    for nav in public._data.nav
      a.btn(href='#{nav.link}')=nav.name
div.callout
  h3.callout--title Ruscio court is awesome
