//===========================================================
// Structure
//===========================================================

.main-content {
    //margin: 1em;
    @include respond-to('large') {
        display: flex;
    }
}

.left,
.right {
    padding: 2em;
    @include respond-to('large') {
        width: 50%;
    }
}