//===========================================================
// Variables
//===========================================================

$background: #EEEEEE;
//$primary: #7ED321;]
$primary: #71AC31;
$header-border: white solid 6px;