//===========================================================
// Variables
//===========================================================

$background: #EEEEEE;
$primary: #7ED321;
$header-border: white solid 6px;